

#highest {
    height: 100%; 
    width: 25%; 
    margin-right :1%;
    float:right;
    border: 1px solid black;
    border-radius: 5px;
   

}

#middle {
    height: 100%; 
    width: 40%; 
    margin :0 auto;
    margin-left:4%;
    margin-top:5%;
    border: 1px solid black;
    border-radius: 5px;
    float:left;

    
}
#options {

    margin-top:29%;
    margin-left:45%;

    
}


#lowest {
    height: 100%; 
    width: 25%; 
    margin-left:1%;
    border: 1px solid black;
    border-radius: 5px;
    float:left;  

    
}
